---
layout: base.njk
title: Contact
description: Contact Giselle Mendoza
css: winterContact.css
---

<section id="contact">

<h1>Contact Me</h1>

<ul class="contact-links">

<li>
<a href="mailto:g1mendoza@ucsd.edu">
School Email
</a>
</li>

<li>
<a href="mailto:gis.mendoza04@gmail.com">
Personal Email
</a>
</li>

<li>
<a href="https://github.com/g1mendoza">
GitHub
</a>
</li>

<li>
<a href="https://linkedin.com/in/giselle-mendoza">
LinkedIn
</a>
</li>

</ul>

</section>