---
layout: base.njk
title: Experience
description: Experience for personal portfolio website
css: winterExperience.css
---

<section id="experience" class="page-section">
<h1>Experience</h1>
<section class="card">
<img src="/tlogo.jpeg" alt="Treobytes logo" width="150">
<h2>
Treobytes — San Diego, CA
</h2>
<h3>STEM Facilitator</h3>
<span>August 2025 – April 2026</span>
<ul>
<li>Led project-based STEM classes focused on coding and hardware.</li>
<li>Taught students programming, circuits, and engineering concepts.</li>
<li>Created collaborative learning environments for middle school students.</li>
</ul>
<p>
<b>Skills:</b>
STEM Education, Coding, Educational Technology
</p>
</section>

<section class="card">
<img src="/ecelogo.png" alt="ECE logo" width="200">
<h2>
UC San Diego ECE Department — San Diego, CA
</h2>
<h3>Undergraduate Research Assistant</h3>
<span>August 2024 – August 2025</span>
<ul>
<li>Designed educational games integrating software and hardware.</li>
<li>Developed optics projects using microcontrollers and circuits.</li>
</ul>
<p>
<b>Skills:</b>
C/C++, ESP32, Circuit Design, CAD, Soldering
</p>
</section>

</section>