---
layout: base.njk
title: Home
description: Home for personal portfolio website
---
<section id="home">
  <h1>Giselle Mendoza</h1>

  <p>
    Computer Engineering student at UC San Diego. Through my coursework and projects,
    I've had the opportunity to explore many areas of engineering. Along the way, I've
    discovered that I'm most interested in embedded systems and software engineering.
    I'm especially passionate about the connection between hardware and software.
    I hope to pursue a career in those fields where I can contribute to innovation.
  </p>

  <figure>
    <img src="/giselle.JPG" alt="Giselle Mendoza" width="500" height="500">
  </figure>
</section>